<html>

<head>
  <title>Bekräfta köp</title>
  <link href="css/simple-grid.css" rel="stylesheet" type="text/css" />
  <link href="css/default.css" rel="stylesheet" type="text/css" />



  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-2-sm">
        </div>
        <div class="col-8-sm">
          <h2> Taxi-404 </h2>
        </div>
        <div class="col-2-sm">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form>
            <div class="row">
              <div class="col-12 center">
                <div class="col-12 left">

                  <h3> Din bokning: </h3>
                  <p> Plats för x personer </p>
                  <p> Från: ph för adress </p>
                  <p> Till: ph för adress </p>
                  <p> Klockan: 13:37 </p>
                  <p> Ytterligare info: </p>

                </div>

                <input type="text" name="from" placeholder="Namn" required="required" />
                <input type="text" name="to" placeholder="Telefonnummer" required="required" />
              </div>
            </div>
            <div id="alt-form">
              <div class="row">
                <div class="col-12 center">
                  <input type="datetime-local" name="date" />
                </div>
              </div>
              <div class="row taxiSelect" id="car-wrapper">
                <div class="col-6-sm center">
                  <div id="removeSmallTaxi" onclick="removeSmallTaxi()">
                    -
                  </div>
                  <div id="addSmallTaxi" onclick="addSmallTaxi()">
                    +
                  </div>
                  <img src="img/small-taxi.png" class="imgTaxi" />
                  <h2 id="smallTaxiAmount">1</h2>
                </div>
                <div class="col-6-sm center" id="largeTaxi">
                  <div id="removeLargeTaxi" onclick="removeLargeTaxi()">
                    -
                  </div>
                  <div id="addLargeTaxi" onclick="addLargeTaxi()">
                    +
                  </div>
                  <img src="img/big-taxi.png" class="imgTaxi" />
                  <h2 id="largeTaxiAmount">
                  0
                </h2>
                </div>
              </div>
              <div class="row" id="requests">
                <div class="col-4-sm center" id="vegetable">
                  <p> Rullstol </p>
                  <input type="checkbox" class="checkbox" />
                </div>
                <div class="col-4-sm center" id="animals">
                  <p> Djur </p>
                  <input type="checkbox" class="checkbox" />
                </div>
                <div class="col-4-sm center" id="child">
                  <p> Barn </p>
                  <input type="checkbox" class="checkbox" />
                </div>
                <div class="col-12 center">
                  <textarea id="additional-info" placeholder="Additional information" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 center">
                <button type="button" onclick="location.href='/bokning_behandlas'"> Bekräfta bokning </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <p>
      &#169; Taxi-404
    </p>
  </footer>
</body>

</html>
