<html>

<head>
  <title>On the way!</title>
  <link href="css/client.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <nav>
    <div id="menu-wrapper">
      <div id="logo">
            <h1> TAXI-404 </h1>
      </div>
      <div id="menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  </nav>
  <main id = "totw">

    <div id="bb">
      <h2>Bokningnen behandlas</h2>
      </div>
<div class="loader"></div>

  </main>
  <footer>
    <p>
      &#169; Taxi-404
    </p>
  </footer>
</body>

</html>
