<html>
<head>
  <link href="css/simple-grid.css" rel="stylesheet" type="text/css" />
  <link href="css/default.css" rel="stylesheet" type="text/css" />
  <link href="css/chuaffeur.css" rel="stylesheet" type="text/css"/>
  <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>
</head>
<body>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-2-sm">
        </div>
        <div class="col-8-sm">
          <h2> Taxi-404 </h2>
        </div>
        <div class="col-2-sm">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="row">
              <div class="col-12 center">
                <img src="img/fakemap.png" class="imgMap"/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 center">
                <button type="button" id="startC" onclick="location.href='/chuaff_w_customer'"> Påbörja körning </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>
      &#169; Taxi-404
    </p>
  </footer>
</body>
</html>
