<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link href="css/simple-grid.css" rel="stylesheet" type="text/css"/>
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <link href="css/client.css" rel="stylesheet" type="text/css"/>
    <link href="css/otw.css" rel="stylesheet" type="text/css" />
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <script src="js/client.js" defer></script>
    <script src="js/sidenav.js" defer></script>

    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script>
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>
    <script src="js/customer.js" defer></script>
</head>

<body>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-2-sm">
            </div>
            <div class="col-8-sm">
                <h2> Taxi-404 </h2>
            </div>
            <div class="col-2-sm" onclick="toggleNav()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </div>
</nav>

<main>
    <div class="container" id="container">
      <div id="mySidenav" class="sidenav">

          <a href="#" v-on:click="toggleFardtjanst" v-if="fardtjanst || views == 2">Byt till vanlig taxi</a>
          <a href="#" v-on:click="toggleFardtjanst" v-else> Byt till färdtjänst </a>

      </div>

        <div id="my-map"></div>

        <div class="row">
            <div class="col-12">
                <form v-if="views == 0">
                    <div class="row">
                        <div class="col-12 center">
                            <input type="text" name="from" v-model="placeQueryFrom" v-on:input="searchAddressFrom"
                                   placeholder="Vart vill du bli hämtad?" required="required"/>
                            <ol class="addressAlternativeList">
                                <li class="addressAlternative" v-for="addr in fromMarker" v-if="addr.score > 72"
                                    v-on:click="getAddressFrom(addr.latlng, addr.text)">
                                    {{ addr.text }}
                                </li>
                            </ol>
                            <input type="text" name="to" v-model="placeQueryDest" v-on:input="searchAddressDest"
                                   placeholder="Vart vill du bli lämnad?" required="required"/>
                            <ol class="addressAlternativeList">
                                <li class="addressAlternative" v-for="addr in destMarker" v-if="addr.score > 72"
                                    v-on:click="getAddressDest(addr.latlng, addr.text)">
                                    {{ addr.text }}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="alt-form">
                        <div class="row">
                            <div class="col-12 center">
                                <input v-model="pickupTime" type="datetime-local" name="date"/>
                            </div>
                        </div>
                        <div class="row taxiSelect" id="car-wrapper">
                            <div class="col-6-sm center">
                                <div id="removeSmallTaxi" v-on:click="removeSmallTaxi">
                                    -
                                </div>
                                <div id="addSmallTaxi" v-on:click="addSmallTaxi">
                                    +
                                </div>
                                <img src="img/small-taxi.png" class="imgTaxi"/>
                                <h2 id="smallTaxiAmount">
                                    {{ smallTaxi }}
                                </h2>
                            </div>
                            <div class="col-6-sm center" id="largeTaxi">
                                <div id="removeLargeTaxi" v-on:click="removeLargeTaxi">
                                    -
                                </div>
                                <div id="addLargeTaxi" v-on:click="addLargeTaxi">
                                    +
                                </div>
                                <img src="img/big-taxi.png" class="imgTaxi"/>
                                <h2 id="largeTaxiAmount">
                                    {{ largeTaxi }}
                                </h2>
                            </div>
                        </div>
                        <div class="row" id="requests">
                            <div class="col-4-sm center" id="vegetable">
                                <p> Rullstol </p>
                                <input v-model="checkboxes.wheelchair" type="checkbox" class="checkbox"/>
                            </div>
                            <div class="col-4-sm center" id="animals">
                                <p> Djur </p>
                                <input v-model="checkboxes.animals" type="checkbox" class="checkbox"/>
                            </div>
                            <div class="col-4-sm center" id="child">
                                <p> Barn </p>
                                <input v-model="checkboxes.kids" type="checkbox" class="checkbox"/>
                            </div>
                            <div class="col-12 center">
                                <textarea v-model="additionalInfo" id="additional-info" placeholder="Additional information" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 center">
                            <button type="button" id="alternativ" onclick='toggleAlternativ()'> Fler alternativ</button>
                            <button type="button" v-on:click="gatherInfo">
                                Boka nu
                            </button>
                        </div>
                    </div>
                </form>

                <div v-if="views == 1">
                    <div class="row">
                        <div class="col-12 center">
                            <div class="col-12 left">
                                <h2 v-if="fardtjanst"> Färdtjänst </h2>
                                <h2 v-else> Vanlig taxi </h2>
                                <h3> Din bokning: </h3>
                                Från: {{ placeQueryFrom }}<br>
                                Till: {{ placeQueryDest }}
                                <ul>
                                    <li v-for="(item, key) in orderItems">
                                        {{ key + ": " + item }}
                                    </li>
                                </ul>
                            </div>
                            <form>
                                <input v-model="name" type="text" placeholder="För- och efternamn" required="required" />
                                <input v-model="phone" type="text" placeholder="Telefonnummer" pattern="^[0-9]*$" required="required" />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 center">
                            <button type="button" v-on:click="views = 0">
                                Ändra bokning
                            </button>
                            <button type="button" v-on:click="orderTaxi">
                                Bekräfta bokning
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="views == 2">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 center">
                      <h3>Logga in för färdtjänst</h3>
                      <form name = "login">
                        <input v-model="login" type="text" name="userid" placeholder="Användarnamn"  />
                        <input v-model="password" type="password" name="pswrd" placeholder="Lösenord" />
                        <button type="button" v-on:click="check" value="login"> Logga in </button>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 center">


                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="views == 3">
                <div class="row">
                    <div id="arriving" class="col-12-sm center">
                        <div class="arriving">
                            <h2 id="bb">Bokningen behandlas</h2>
                            <h2 v-text="ptimer"></h2>
                        </div>
                        <div class="loader"></div>

                    </div>
                </div>
            </div>

            <div v-if="views == 4">
              <div class="row">
                <div id="arriving" class="col-12-sm center">
                  <h2>Chauffören är påväg!</h2>
                  <div class="loader"></div>
                  <h2>Ankommer om ca: </h2>
                  <div class="timer">
                    <p id="ptimer" v-text="ptimer">{{ptimer}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="views == 5">
              <div class="row">
                <div id="arriving" class="col-12-sm center">
                  <h2>Chauffören är framme</h2>
                </div>
              </div>
            </div>


        </div>
</main>
<footer>
    <p>
        &#169; Taxi-404
    </p>
</footer>
</body>

</html>
