
<html>
<head>
  <link href="css/client.css" rel="stylesheet" type="text/css"/>
  <script src="js/client.js" defer></script>
</head>
<body>
  <nav>
    <div id="menu-wrapper">
      <div id="logo">
            <h1> TAXI-404 </h1>
      </div>
      <div id="menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  </nav>
  <main>
    <form>
      <input type="text" name="from" placeholder="Vart vill du bli hämtad?" required="required"/>
      <input type="text" name="to" placeholder="Vart vill du bli lämnad?" required="required"/>
      <div id="alternatives">
      <div id="alt-form">
        <input type="date" name="date"/>
        <input type="time" name="time"/>
        <div id="car-wrapper">
          <div class="small-car">
            <img src="img/taxi.jpg"/>
          </div>
          <div class="large-car">
            <img src="img/taxi.jpg"/>
          </div>
        </div>
        <div id="requests">

        <div id="checkbox-wrapper">
          <div id="vegetable">
              <p> Rullstol </p>
              <input type="checkbox" class="checkbox"/>
          </div>
          <div id="animals">
              <p> Djur </p>
              <input type="checkbox" class="checkbox"/>
          </div>
          <div id="child">
              <p> Barn </p>
              <input type="checkbox" class="checkbox"/>
          </div>
        </div>
        </div>
        <textarea id="additional-info" placeholder="Additional information" rows="4"></textarea>
      </div>
      <button type="button" id="alternativ" onclick='toggleAlternativ()'> Fler alternativ </button>
      </div>
      <button> Boka nu </button>
    </form>
  </main>
  <footer>
    <p>
      &#169; Taxi-404
    </p>
  </footer>
</body>
</html>
