<!DOCTYPE html>
<html>
<head>
	<title>Trafikledare</title>
	<link rel="stylesheet" href="css/coordinator.css">
	<script src="/js/coordinator.js" defer></script>
	<script src="/vue/vue.js" defer></script>
	<script src="/socket.io/socket.io.js" defer></script>
	<script src="js/deli-very.js" defer></script>
	<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>
<body>
	<div id="map">
		<div id="dots" v-on:click="addOrder">
			<div
					v-for="(order, key) in orders"
					v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
				{{key}}
			</div>
		</div>
	</div>
	<div id="overview">
		<div id="orders">

		</div>
		<div id="cars">

		</div>
	</div>
	<div id="navBar">
		<button id="hide">Dölj karta</button>
		<button id="incoming">Inkommande körningar</button>
		<button id="inTraffic">Tilldelade körningar</button>
	</div>
</body>
</html>