<html>

<head>
  <title>On the way!</title>
  <link href="css/otw.css" rel="stylesheet" type="text/css" />
  <link href="css/default.css" rel="stylesheet" type="text/css" />
  <link href="css/simple-grid.css" rel="stylesheet" type="text/css" />
  <script src="js/sidenav.js" defer></script>


</head>

<body>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-2-sm">
        </div>
        <div class="col-8-sm">
          <h2> Taxi-404 </h2>
        </div>
        <div class="col-2-sm" onclick="toggleNav()">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </div>
  </nav>
  <div id="mySidenav" class="sidenav">
  <a href="/fardtjanst">Färdtjänst</a>
  <a href="/client">Vanlig taxi</a>
  <a href="#">Om oss</a>
</div>
  <main id="totw">

    <div class="container">
      <div class="row">
        <div id="arriving" class="col-12-sm center">
          <h2>Chauffören är påväg!</h2>
          <div class="loader"></div>
          <h2>Ankommer om ca: </h2>
          <div class="timer">
            <p id="ptimer"></p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>
      &#169; Taxi-404
    </p>
  </footer>
</body>

</html>
