#addSmallTaxi {
  left: 25%;
  width: 25%;
  height: 62%;
  position: absolute;
}

#removeSmallTaxi {
  left: 0;
  position: absolute;
  width: 25%;
  height: 62%;
}

#addLargeTaxi {
  right: 0;
  width: 25%;
  height: 62%;
  position: absolute;
}

#removeLargeTaxi {
  right: 25%;
  position: absolute;
  width: 25%;
  height: 62%;
}

.taxiSelect h2 {
  margin: 0;
}

.imgTaxi {
  padding-top: 5%;
}

#removeSmallTaxi:hover, #removeLargeTaxi:hover {
  background-color: rgba(255, 8, 8, 0.8);
}

#addSmallTaxi:hover, #addLargeTaxi:hover {
  background-color: rgba(92, 240, 0, 0.8);
}

#addSmallTaxi, #addLargeTaxi, #removeLargeTaxi, #removeSmallTaxi {
  font-size: 3.2rem;
}
