body,html {
  color: #fff;
  background-color: #14213d;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
}

nav {
  width: 100%;
  height: 7%;
  background-color: #fca311;
  margin: 0;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

nav h2 {
  margin: 0;
}

.bar1, .bar2, .bar3 {
  width: 60%;
  height: 5px;
  background-color: #fff;
  float: right;
  margin-top: 10%;
}

img {
  width: 100%;
}
main {
  color: #fff;
}

input {
  width: 100%;
  height: 10%;
  margin-bottom: 4%;
  font-size: 100%;
  text-align: center;
}

input[type="checkbox"] {
  height: auto;
  width: auto;
  transform:scale(4,4);
  margin-bottom: 10%;
}

textarea {
  width: 100%;
  font-size: 100%;
  text-align: center;
}

button {
  width: 100%;
  height: 10%;
  margin-bottom: 4%;
  font-size: 100%;
  color: #fff;
  background-color: #fca311;
  border: 0;
}

footer {
  height: 7%;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #14213d;
  text-align: center;
  font-size: 100%;
}

#alt-form {
  display: none;
}
