@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

#arriving {
    padding-top: 20%;
}
#ptimer{
  font-size: 40px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  /*color: #333447;*/

}
